@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

.mask-cross {
  mask-image: url(mask-cross.svg);
}

@layer base {
    html {
        font-family: "Roboto Flex", serif;
        scroll-behavior: smooth;
        /* font-size: 18px; */
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: "Alegreya", sans-serif;
        font-weight: 800;
    }
    .e-font__normal {
      font-family: "Roboto Flex", serif;
    }
    .e-font__special {
      font-family: "Alegreya", sans-serif;
    }
    
}

@layer components {
    
    .e-btn {
      @apply bg-slate-500 text-white font-semibold rounded-lg shadow-md;
    }
    .e-btn--blue {
      @apply text-white bg-blue-500;
    }
    .e-article {
      @apply w-full prose prose-slate prose-p:text-slate-900 prose-li:text-slate-900 prose-td:text-slate-900  prose-headings:text-slate-800 prose-a:text-blue-500 py-20 px-6 sm:px-8 md:pl-[3vw] lg:pl-[7vw] md:prose-lg lg:prose-xl print:prose-xl print:text-sm print:container print:mx-auto;
      /* @apply prose-headings:text-slate-800 prose prose-slate py-20 px-6 sm:px-8; */
    }

    .e-term {
      @apply italic text-fuchsia-500 font-bold text-[120%];
    }
    .e-card {
      @apply p-2 bg-white rounded-xl shadow-md border md:p-4;
    }
    .e-module__meta {
      @apply text-sm bg-yellow-50 mb-8 border-2 border-yellow-500 shadow-md md:float-right md:max-w-xs md:ml-4;
    }
    .e-module__meta tr:not(:last-child) {
      @apply border-b border-b-yellow-500;
    }
    
    .e-icon--rounded {
      @apply w-[1.75em] h-[1.75em] flex items-center justify-center bg-blue-400 rounded-full;
    }

    .e-huge-number {
      @apply text-[20rem] text-slate-200 leading-none m-0 p-0 ml-[-0.5ch];
    }

    
}